<div id="sabnavbar"><!-- Sabayon Linux global navigation bar  (thanks Arch Linux guys! ) -->
	<div id="sabnavbarlogo">
		<p><a accesskey="z" title="Visit the main page [z]" href="/" id="logo"></a></p>
	</div>
	<div id="sabnavbarmenu">
	<ul id="sabnavbarlist">
		<li id="anb-home"><a href="http://www.sabayon.org/">Home</a></li>
		<li><a href="http://planet.sabayon.org/">Planet</a></li>
		<li><a href="http://www.sabayon.org/chat">Web Chat</a></li>
		<li id="anb-packages"><a href="http://www.sabayon.org/packages/">Packages</a></li>
		<li id="anb-gitweb"><a href="http://gitweb.sabayon.org/">Git</a></li>
		<li id="anb-forums"><a href="http://forum.sabayon.org/">Forum</a></li>
		<li id="anb-wiki"><a href="http://wiki.sabayon.org/">Wiki</a></li>
		<li id="anb-bugs"><a href="http://bugs.sabayon.org/">Bugs</a></li>
		<li id="anb-download"><a href="http://www.sabayon.org/download/">Download</a></li>
	</ul>
        </div>
</div>