<!-- INCLUDE overall_header.html -->

<!-- IF S_FORUM_RULES -->
	<div class="forumrules">
		<!-- IF U_FORUM_RULES -->
			<h3>{L_FORUM_RULES}</h3><br />
			<a href="{U_FORUM_RULES}"><b>{L_FORUM_RULES_LINK}</b></a>
		<!-- ELSE -->
			<h3>{L_FORUM_RULES}</h3><br />
			{FORUM_RULES}
		<!-- ENDIF -->
	</div>

	<br clear="all" />
<!-- ENDIF -->

	<h2 class="titles topic_title"><a href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a></h2>

	<!-- IF MODERATORS -->
		<p class="moderators"><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->: {MODERATORS}</p>
	<!-- ENDIF -->

	<!-- IF not S_IS_BOT -->
		<div id="topic_buttons"> 
		<span align="{S_CONTENT_FLOW_BEGIN}" valign="middle" nowrap="nowrap">
			<!-- IF S_DISPLAY_POST_INFO --><a class="new_topic_button" href="{U_POST_NEW_TOPIC}">New Topic</a>&nbsp;<!-- ENDIF -->
			<!-- IF S_DISPLAY_REPLY_INFO --><a class="reply_button" href="{U_POST_REPLY_TOPIC}">Post Reply</a><!-- ENDIF -->
		</span>
	    </div>
    <!-- ENDIF -->

<!-- IF S_HAS_POLL -->
	<div id="pageheader" class="divblock">
	<div id="poll_area">
		<form method="post" action="{S_POLL_ACTION}">
			<h2>{POLL_QUESTION}</h2>
			
			<div id="poll">
				<p class="author">{L_POLL_LENGTH}<!-- IF S_CAN_VOTE and L_POLL_LENGTH --><br /><!-- ENDIF --><!-- IF S_CAN_VOTE -->{L_MAX_VOTES}<!-- ELSE -->You cannot vote.<!-- ENDIF --></p>
			<!-- BEGIN poll_option -->
				<div class="poll_option
					<!-- IF poll_option.POLL_OPTION_VOTED -->
						voted
					<!-- ENDIF -->"
					<!-- IF poll_option.POLL_OPTION_VOTED -->
						title="{L_POLL_VOTED_OPTION}"
					<!-- ENDIF -->
						>
					<!-- IF S_CAN_VOTE -->
							<!-- IF S_IS_MULTI_CHOICE -->
								<input type="checkbox" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"
									<!-- IF poll_option.POLL_OPTION_VOTED -->
										checked="checked"
									<!-- ENDIF --> 
										/>
							<!-- ELSE -->
								<input type="radio" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"
									<!-- IF poll_option.POLL_OPTION_VOTED -->
										checked="checked"
									<!-- ENDIF --> 
										 />
							<!-- ENDIF -->
					<!-- ENDIF -->
					<!-- IF S_CAN_VOTE -->
							<label for="vote_{poll_option.POLL_OPTION_ID}">{poll_option.POLL_OPTION_CAPTION}</label>
						<!-- ELSE -->
							{poll_option.POLL_OPTION_CAPTION}
						<!-- ENDIF -->
					
						
					<!-- IF S_DISPLAY_RESULTS -->
						<div class="resultbar">
							<div class="pollbar <!-- IF poll_option.POLL_OPTION_PCT < 20 -->pollbar20<!-- ELSEIF poll_option.POLL_OPTION_PCT < 40 -->pollbar40<!-- ELSEIF poll_option.POLL_OPTION_PCT < 60 -->pollbar60<!-- ELSEIF poll_option.POLL_OPTION_PCT < 80 -->pollbar80<!-- ELSE -->pollbar100<!-- ENDIF -->" style="width:{poll_option.POLL_OPTION_PERCENT};"><span>{poll_option.POLL_OPTION_RESULT} (<!-- IF poll_option.POLL_OPTION_RESULT == 0 -->{L_NO_VOTES}<!-- ELSE -->{poll_option.POLL_OPTION_PERCENT}<!-- ENDIF -->)</span></div>
						</div>
					<!-- ENDIF -->
				</div>
			<!-- END poll_option -->

			<!-- IF S_DISPLAY_RESULTS -->
				<p id="total_votes">{L_TOTAL_VOTES}: {TOTAL_VOTES}</p>
			<!-- ENDIF -->

			<!-- IF S_CAN_VOTE -->
				<p>
					<input type="submit" name="update" value="{L_SUBMIT_VOTE}" class="button1" />
				</p>
			<!-- ENDIF -->

			<!-- IF not S_DISPLAY_RESULTS -->
				<p>
					<a href="{U_VIEW_RESULTS}">{L_VIEW_RESULTS}</a>
				</p>
			<!-- ENDIF -->
			</div>
		{S_FORM_TOKEN}
		{S_HIDDEN_FIELDS}
	
	</form>
	</div>
</div>
<!-- ENDIF -->


<div id="pagecontent">
<!-- BEGIN postrow -->
	<div class="post_wrapper <!-- IF postrow.S_ROW_COUNT is even -->row1<!-- ELSE -->row2<!-- ENDIF --> p{postrow.S_ROW_COUNT}">
			<!-- IF postrow.S_FIRST_UNREAD --><a name="unread"></a><!-- ENDIF -->
			<!-- IF postrow.S_FIRST_UNREAD --><a name="p{postrow.POST_ID}"/><!-- ENDIF -->
		<div class="post_header">
			<div class="post_header_left">
				<p class="postauthor"<!-- IF postrow.POST_AUTHOR_COLOUR --> style="color: {postrow.POST_AUTHOR_COLOUR}"<!-- ENDIF -->>{postrow.POST_AUTHOR}</p>
				<!-- IF postrow.S_ONLINE -->
					<p class="online_user">Online</p>
				<!-- ELSE -->
					<p class="offline_user">Offline</p>
				<!-- ENDIF -->
			</div>
			<div class="post_header_right">
				<div class="post_title">
					<!-- IF postrow.POST_ICON_IMG -->
						<div class="post_img">
							<img src="{T_ICONS_PATH}{postrow.POST_ICON_IMG}" width="{postrow.POST_ICON_IMG_WIDTH}" height="{postrow.POST_ICON_IMG_HEIGHT}" alt="" title="" />
						</div>
					<!-- ENDIF -->
					
					<h3>{postrow.POST_SUBJECT}
					<!-- IF postrow.S_POST_UNAPPROVED -->
						<span class="postapprove"><a href="{postrow.U_MCP_APPROVE}"> [{L_POST_UNAPPROVED}]</a></span>
					<!-- ENDIF -->
					<!-- IF postrow.S_POST_REPORTED -->
						<span class="postreported"><a href="{postrow.U_MCP_REPORT}"> [{L_POST_REPORTED}]</a></span>
					<!-- ENDIF -->
					</h3>
				</div>
				<div class="post_details">
					<!-- IF S_IS_BOT -->{postrow.MINI_POST_IMG}<!-- ENDIF -->
					<p class="show_post_options" post="{postrow.S_ROW_COUNT}">{L_POSTED}: {postrow.POST_DATE}</p>
					<span class="fakelink post_action show_post_options" post="{postrow.S_ROW_COUNT}">Show Post Options</span>
					<ul class="post_options" post="{postrow.S_ROW_COUNT}"><!-- IF not S_IS_BOT -->
					<!-- IF postrow.U_EDIT --><li><a class="post_action" href="{postrow.U_EDIT}">Edit</a></li><!-- ENDIF --><!-- IF postrow.U_QUOTE -->
						<li><a class="post_action" href="{postrow.U_QUOTE}">Quote</a></li><!-- ENDIF --><!-- IF postrow.U_REPORT -->
						<li><a class="post_action" href="{postrow.U_REPORT}">Report</a></li><!-- ENDIF --><!-- IF postrow.U_INFO -->
						<li><a class="post_action" href="{postrow.U_INFO}">Details</a></li><!-- ENDIF --><!-- IF postrow.U_WARN -->
						<li><a class="post_action" href="{postrow.U_WARN}">Warn</a></li><!-- ENDIF --><!-- IF postrow.U_DELETE -->
						<li><a class="post_action" href="{postrow.U_DELETE}">Delete</a></li><!-- ENDIF -->
						<li><a class="post_action" href="{postrow.U_MINI_POST}">Permalink</a></li>
						<li><span class="post_action hide_post_options" post="{postrow.S_ROW_COUNT}">Hide Options</span></li>
					<!-- ENDIF --></ul>
				</div>
			</div>
		</div>
		<div class="post_body_wrapper">
		<div class="profile_container">
			<div class="profile_main">
				<!-- IF postrow.RANK_TITLE -->
					<p class="postdetails">{postrow.RANK_TITLE}</p>
				<!-- ENDIF -->
				<!-- IF postrow.RANK_IMG -->
					<img class="rank_image">{postrow.RANK_IMG}</img>
				<!-- ENDIF -->
				<!-- IF postrow.POSTER_AVATAR -->
					<div class="avatar">{postrow.POSTER_AVATAR}</div>
				<!-- ENDIF -->
				<div class="post_user_details">
					<!-- IF postrow.POSTER_JOINED --><br /><strong>{L_JOINED}:</strong> {postrow.POSTER_JOINED}<!-- ENDIF -->
					<!-- IF postrow.POSTER_POSTS != '' --><br /><strong>{L_POSTS}:</strong> {postrow.POSTER_POSTS}<!-- ENDIF -->
					<!-- IF postrow.POSTER_FROM --><br /><strong>{L_LOCATION}:</strong> {postrow.POSTER_FROM}<!-- ENDIF -->
					<!-- IF postrow.S_PROFILE_FIELD1 -->
						<!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
							<br /><b>{postrow.PROFILE_FIELD1_NAME}:</b> {postrow.PROFILE_FIELD1_VALUE}
						<!-- ENDIF -->
					<br /><span class="fakelink show_contact_details" post="{postrow.S_ROW_COUNT}">Contact User</span>
				</div>
			</div>
			<div class="profile_more_details" post="{postrow.S_ROW_COUNT}">
			<!-- we put this here to make abs postioning easier -->
				<h4>Contact Details</h4>
				<!-- IF postrow.U_POST_AUTHOR --><a href="{postrow.U_POST_AUTHOR}">{PROFILE_IMG}</a><!-- ENDIF -->
				<!-- IF postrow.U_PM --><a href="{postrow.U_PM}">{PM_IMG}</a> <!-- ENDIF -->
				<!-- IF postrow.U_EMAIL --><a href="{postrow.U_EMAIL}">{EMAIL_IMG}</a><!-- ENDIF -->
				<!-- IF postrow.U_AIM --><a href="{postrow.U_AIM}">{AIM_IMG}</a><!-- ENDIF -->
				<!-- IF postrow.U_MSN --><a href="{postrow.U_MSN}">{MSN_IMG}</a><!-- ENDIF -->
				<!-- IF postrow.U_ICQ --><a href="{postrow.U_ICQ}">{ICQ_IMG}</a><!-- ENDIF -->
				<!-- IF postrow.U_JABBER --><a href="{postrow.U_JABBER}">{JABBER_IMG}</a><!-- ENDIF -->
				<!-- BEGIN custom_fields -->
					<br /><b>{postrow.custom_fields.PROFILE_FIELD_NAME}:</b> {postrow.custom_fields.PROFILE_FIELD_VALUE}
				<!-- END custom_fields -->
				<p class="fakelink hide_contact_details" post="{postrow.S_ROW_COUNT}"><< Hide</p>
			</div>
		</div>
		<div class="post_content">
			
			<div class="postbody">{postrow.MESSAGE}</div>
			
			<!-- IF postrow.S_HAS_ATTACHMENTS -->
				<h4 class="genmed">{L_ATTACHMENTS}:</h4>
					<ul>
						<!-- BEGIN attachment -->
						<li	class="attachment <!-- IF postrow.attachment.S_ROW_COUNT is even -->row2<!-- ELSE -->row1<!-- ENDIF -->">
						{postrow.attachment.DISPLAY_ATTACHMENT}
						</li>
						<!-- END attachment -->
					</ul>
			<!-- ENDIF -->

			<!-- IF postrow.S_DISPLAY_NOTICE -->
				<span class="gensmall error"><br /><br />{L_DOWNLOAD_NOTICE}</span>
			<!-- ENDIF -->
			
			<!-- IF postrow.SIGNATURE -->
				
				<div class="signature"><span class="sig_divider"></span>{postrow.SIGNATURE}</div>
			<!-- ENDIF -->

			<!-- IF postrow.EDITED_MESSAGE or postrow.EDIT_REASON -->
				<!-- IF postrow.EDIT_REASON -->
					<br /><br />
					<table class="tablebg" width="100%" cellspacing="1">
						<tr>
							<td class="row3"><span class="gensmall">{postrow.EDITED_MESSAGE}</span></td>
						</tr>
						<tr>
							<td class="row2"><span class="genmed">{postrow.EDIT_REASON}</span></td>
						</tr>
					</table>
				<!-- ELSE -->
					<br /><br />
					<span class="gensmall">{postrow.EDITED_MESSAGE}</span>
				<!-- ENDIF -->
			<!-- ENDIF -->

			<!-- IF postrow.BUMPED_MESSAGE -->
				<span class="gensmall"><br /><br />{postrow.BUMPED_MESSAGE}</span>
			<!-- ENDIF -->
		</div>
	</div>
</div>
<!-- END postrow -->

	<!-- IF not S_IS_BOT -->
	<div id="post_sort">
	    <form name="viewtopic" method="post" action="{S_TOPIC_ACTION}"><span class="gensmall">{L_DISPLAY_POSTS}:</span> {S_SELECT_SORT_DAYS}&nbsp;<span class="gensmall">{L_SORT_BY}</span> {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR}&nbsp;<input class="btnlite" type="submit" value="{L_GO}" name="sort" /></form>
	</div>
	<!-- ENDIF -->


	<!-- IF not S_IS_BOT -->
		<div id="topic_buttons"> 
		<span align="{S_CONTENT_FLOW_BEGIN}" valign="middle" nowrap="nowrap">
			<!-- IF S_DISPLAY_POST_INFO --><a class="new_topic_button" href="{U_POST_NEW_TOPIC}">New Topic</a>&nbsp;<!-- ENDIF -->
			<!-- IF S_DISPLAY_REPLY_INFO --><a class="reply_button" href="{U_POST_REPLY_TOPIC}">Post Reply</a><!-- ENDIF -->
		</span>
	    </div>
    <!-- ENDIF -->

		<!-- IF TOTAL_POSTS -->
			<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
			<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_POSTS} ]&nbsp;</td>
			<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
		<!-- ENDIF -->
	
	<div id="topic_nav" nowrap="nowrap">
		<!-- IF not S_IS_BOT -->
			<!-- IF U_WATCH_TOPIC --><a href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}">{L_WATCH_TOPIC}</a><!-- IF U_PRINT_TOPIC or U_EMAIL_TOPIC or U_BUMP_TOPIC or U_BOOKMARK_TOPIC --> | <!-- ENDIF --><!-- ENDIF -->
			<!-- IF U_BOOKMARK_TOPIC --><a href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}">{L_BOOKMARK_TOPIC}</a><!-- IF U_PRINT_TOPIC or U_EMAIL_TOPIC or U_BUMP_TOPIC --> | <!-- ENDIF --><!-- ENDIF -->
			<!-- IF U_PRINT_TOPIC --><a href="{U_PRINT_TOPIC}" title="{L_PRINT_TOPIC}">{L_PRINT_TOPIC}</a><!-- IF U_EMAIL_TOPIC or U_BUMP_TOPIC --> | <!-- ENDIF --><!-- ENDIF -->
			<!-- IF U_EMAIL_TOPIC --><a href="{U_EMAIL_TOPIC}" title="{L_EMAIL_TOPIC}">{L_EMAIL_TOPIC}</a><!-- IF U_BUMP_TOPIC --> | <!-- ENDIF --><!-- ENDIF -->
			<!-- IF U_BUMP_TOPIC --><a href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}">{L_BUMP_TOPIC}</a><!-- ENDIF -->
		<!-- ENDIF -->
		<span nowrap="nowrap"> | <a href="{U_VIEW_OLDER_TOPIC}">{L_VIEW_PREVIOUS_TOPIC}</a><!-- IF U_VIEW_UNREAD_POST and not S_IS_BOT --> | <a href="{U_VIEW_UNREAD_POST}">{L_VIEW_UNREAD_POST}</a><!-- ENDIF --> | <a href="{U_VIEW_NEWER_TOPIC}">{L_VIEW_NEXT_TOPIC}</a>&nbsp;</span>
	</div>
</div>

<div id="pagefooter" class="divblock">

<br clear="all" />
<!-- IF S_QUICK_REPLY -->
<!-- INCLUDE quickreply_editor.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<br clear="all" />

	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat"><h4>{L_WHO_IS_ONLINE}</h4></td>
	</tr>
	<tr>
		<td class="row1"><p class="gensmall">{LOGGED_IN_USER_LIST}</p></td>
	</tr>
	</table>
<!-- ENDIF -->

<br clear="all" />

<table width="100%" cellspacing="1">
<tr>
	<td width="40%" valign="top" nowrap="nowrap" align="{S_CONTENT_FLOW_BEGIN}"><!-- IF S_TOPIC_MOD --><form method="post" action="{S_MOD_ACTION}"><span class="gensmall">{L_QUICK_MOD}:</span> {S_TOPIC_MOD} <input class="btnlite" type="submit" value="{L_GO}" /></form><!-- ENDIF --></td>
	<td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap"><span class="gensmall"><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></span></td>
</tr>
</table>

<br clear="all" />

<table width="100%" cellspacing="0">
<tr>
	<td><!-- IF S_DISPLAY_SEARCHBOX --><!-- INCLUDE searchbox.html --><!-- ENDIF --></td>
	<td align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></td>
</tr>
</table>

<!-- INCLUDE overall_footer.html -->